html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 24px;
    box-shadow: 0 0 5px 1px black;
    border-radius: 10px;
}
#frame > h3 {
    margin: 0;
}
#frame > #btn {
    margin: 10px 0;
    background-color: antiquewhite;
    outline: none;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
#frame > #btn:active {
    background-color: blanchedalmond;
}